{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h4>Имя пользователя: {{ user.email }}</h4>

    <p>О пользователе: {{ user.info }}</p>

    <p>Роли:
    {% for role in user.roles %}
        {{ role }}
    {% endfor %}
    </p>

    <a href="{{ path('profile_change_password') }}" class="btn btn-success">Изменить пароль</a>
    <a href="{{ path('profile_change_info') }}" class="btn btn-success">Изменить информацию о пользователе</a>
    <a href="{{ path('profile_change_photo') }}" class="btn btn-success">Изменить фото профиля</a>
{% endblock %}
