{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="col-md-8 mx-auto">
        <h4>Название</h4>
        <h4>{{ product.name }}</h4>

        <p>Описание</p>
        <p>{{ product.description }}</p>

        <p>Добавлен</p>
        <p>{{ product.addedDate ? product.addedDate|date('Y-m-d H:i:s') : '' }}</p>

        <a href="{{ path('product_index') }}">back to list</a>

        <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

{#        {{ include('product/_delete_form.html.twig') }}#}
    </div>
{% endblock %}
